* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #fafafa;
}

header {
  height: 70px;
  width: 100%;
  background-color: #ec715f;
}

nav {
  width: 1024px;
  margin: 0 auto;
  display: flex;
}

.nav-list {
  text-align: end;
  margin: 0;
  padding-left: 380px;
}

.nav-list-item {
  list-style: none;
  display: inline-block;
  padding: 0 30px;
  line-height: 70px;
}

.title-image {
  height: 65px;
}

.main-visual {
  width: 100%;
  height: 650px;
  background-image: url(img/mv.png);
  background-size: cover;
  background-position: center;
}

.main-visual-content {
  padding-top: 200px;
  text-align: center;
}

.main-visual-name {
  color: #fafafa;
  font-size: 64px;
}

.main-visual-text {
  color: #fafafa;
  font-size: 20px;
  margin-top: 10px;
}

.main-box {
  background-color: #eceff1;
}

.portfolio {
  width: 920px;
  margin: 0 auto;
  justify-content: center;
  padding: 90px 0;
}

.portfolio-heading {
  font-size: 32px;
  color: #000000;
  text-align: center;
  position: relative;
}

.portfolio-heading::after {
  content: '';
	display: block;
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	bottom: -8px;
	width: 70px;
	height: 3px;
	background-color: #ec715f;
}

.portfolio-text {
  padding: 30px 0;
  text-align: center;
  font-size: 16px;
  color: #000000;
}

.portfolio-content {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-image {
  width: 300px;
  height: 250px;
  background-size: cover;
  background-position: center;
}

.portfolio-image:nth-child(n+4):nth-child(-n+6) {
  margin-top: 10px;
}

.portfolio-image:nth-child(1) {
  background-image: url(img/sketch.jpg);
}

.portfolio-image:nth-child(2) {
  margin: 0 10px;
  background-image: url(img/websuku.png);
}

.portfolio-image:nth-child(3) {
  background-image: url(img/write.jpg);
}

.portfolio-image:nth-child(4) {
  background-image: url(img/webcamp.png);
}

.portfolio-image:nth-child(5) {
  margin: 0 10px;
  background-image: url(img/talk.jpg);
}

.portfolio-image:nth-child(6) {
  background-image: url(img/webcamp-mother.png);
}