* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #fafafa;
}

header {
  height: 70px;
  width: 100%;
  background-color: #ec715f;
}

nav {
  width: 1024px;
  margin: 0 auto;
  display: flex;
}

.nav-list {
  text-align: end;
  margin: 0;
  padding-left: 380px;
}

.nav-list-item {
  list-style: none;
  display: inline-block;
  padding: 0 30px;
  line-height: 70px;
}

.title-image {
  height: 65px;
}

.main-visual {
  width: 100%;
  height: 650px;
  background-image: url(img/mv.png);
  background-size: cover;
  background-position: center;
}

.main-visual-content {
  padding-top: 200px;
  text-align: center;
}

.main-visual-name {
  color: #fafafa;
  font-size: 64px;
}

.main-visual-text {
  color: #fafafa;
  font-size: 20px;
  margin-top: 10px;
}

.portfolio {
  background-color: #eceff1;
}

.portfolio-box {
  width: 920px;
  margin: 0 auto;
  justify-content: center;
  padding: 90px 0;
}

.portfolio-heading,
.feature-heading,
.profile-heading,
.contact-heading {
  font-size: 32px;
  color: #000000;
  text-align: center;
  position: relative;
}

.portfolio-heading::after,
.feature-heading::after,
.profile-heading::after,
.contact-heading::after {
  content: '';
	display: block;
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	bottom: -8px;
	width: 70px;
	height: 3px;
	background-color: #ec715f;
}

.portfolio-text,
.feature-text,
.profile-text,
.contact-text {
  padding: 30px 0;
  text-align: center;
  font-size: 16px;
  color: #000000;
}

.portfolio-contents {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-image {
  width: 300px;
  height: 250px;
  background-size: cover;
  background-position: center;
}

.portfolio-image:nth-child(n+4):nth-child(-n+6) {
  margin-top: 10px;
}

.portfolio-image:nth-child(1) {
  background-image: url(img/sketch.jpg);
}

.portfolio-image:nth-child(2) {
  margin: 0 10px;
  background-image: url(img/websuku.png);
}

.portfolio-image:nth-child(3) {
  background-image: url(img/write.jpg);
}

.portfolio-image:nth-child(4) {
  background-image: url(img/webcamp.png);
}

.portfolio-image:nth-child(5) {
  margin: 0 10px;
  background-image: url(img/talk.jpg);
}

.portfolio-image:nth-child(6) {
  background-image: url(img/webcamp-mother.png);
}

.feature-box {
  width: 980px;
  margin: 0 auto;
  justify-content: center;
  padding: 90px 0;
}

.feature-contents {
  display: flex;
  margin-top: 30px;
}

.ferture-item {
  width: 320px;
}

.feature-item:nth-child(2) {
  padding: 0 10px;
}

.feature-social {
  text-align: center;
  font-size: 60px;
}

.feature-item-name {
  text-align: center;
  margin: 10px 0;
  font-size: 20px;
  color: #000000;
}

.feature-item-text {
  font-size: 16px;
  color: #000000;
}

.profile {
  background-color: #eceff1;
}

.profile-box {
  width: 1024px;
  margin: 0 auto;
  justify-content: center;
  padding: 90px 0;
}

.profile-contents {
  display: flex;
  flex-wrap: wrap;
}

.profile-image {
  width: 512px;
  text-align: center;
}

.profile-image > .profile-icon {
  border-radius: 50%;
  width: 250px;
  height: 250px;
  background-image: url(img/my-icon.jpg);
  background-size: cover;
  background-position: center;
}

.profile-item-name {
  font-size: 20px;
  padding-bottom: 5px;
}

.profile-item-text {
  font-size: 16px;
  color: #000000;
  margin-bottom: 20px;
}

.profile-item-skills {
  font-size: 16px;
  color: #000000;
}

.contact-box {
  width: 800px;
  margin: 0 auto;
  justify-content: center;
  padding: 90px 0;
}

.contact-contents {
  margin-top: 30px;
  display: flex;
}

.contact-item {
  width: 400px;
  padding-left: 150px;
}

.contact-item:nth-child(2) {
  padding-left: 110px;
}

.contact-item-name {
  font-size: 20px;
  padding-bottom: 5px;
}

.contact-item-mail {
  margin-bottom: 20px;
}

.contact-social {
  font-size: 50px;
}